name: Deploy Hexo Blog
on:
 push:
   branches:
     - master
jobs:
 build-and-deploy:
   runs-on: ubuntu-latest
   steps:
     # 检出代码
     - name: Checkout Code
       uses: actions/checkout@v3
       with:
         fetch-depth: 0
     # 设置 Node.js 环境
     - name: Setup Node.js
       uses: actions/setup-node@v3
       with:
         node-version: '16'
     # 安装依赖并构建博客
     - name: Install and Build Hexo
       run: |
         npm install
         npm install hexo-cli -g
         hexo clean && hexo generate
     # 部署到 GitHub Pages
     - name: Deploy to GitHub Pages
       uses: theme-keep/hexo-deploy-github-pages-action@master
       env:
         PERSONAL_TOKEN: ${{ secrets.HEXO_DEPLOY }}
         PUBLISH_REPOSITORY: <USERNAME>/<REPO>
         BRANCH: gh-pages
         PUBLISH_DIR: ./public
